sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.pg3htm1558CA65A936DC41935914D39E93EB24view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.pg3htm1558CA65A936DC41935914D39E93EB2401 {
	position: absolute;
	white-space: nowrap;
}
.pg3htm1558CA65A936DC41935914D39E93EB2402 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}
.pg3htm1558CA65A936DC41935914D39E93EB2403 {
	position: relative;
	width: 49.58333em;
}
.pg3htm1558CA65A936DC41935914D39E93EB2404 {
	height: 7.008333em;
}
.ie .pg3htm1558CA65A936DC41935914D39E93EB2404 {
	height: 70.08334em;
}
@font-face {
	font-family:"JACFHW+Times New Roman";
	src:url("http://localhost:9068/document-viewer/GetResourceForHtmlHandler?documentPath=mcqs.pdf&resourcePath=6f3cf5b5-0000-0000-0000-000000000000.woff&relativeToOriginal=false") format("woff");
}
.pg3htm1558CA65A936DC41935914D39E93EB2405 {
	font-size: 1em;
	font-family: "JACFHW+Times New Roman";
	color: #000000;
}
.pg3htm1558CA65A936DC41935914D39E93EB2406 {
	line-height: 1.107422em;
}
.pg3htm1558CA65A936DC41935914D39E93EB2407 {
	letter-spacing: -0.0022em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2407 {
	letter-spacing: -0.0347px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2408 {
	letter-spacing: -0.002em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2408 {
	letter-spacing: -0.032px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2409 {
	letter-spacing: 0em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2409 {
	letter-spacing: 0px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2410 {
	letter-spacing: -0.0002em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2410 {
	letter-spacing: -0.003px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2411 {
	letter-spacing: -0.007em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2411 {
	letter-spacing: -0.1119px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2412 {
	letter-spacing: 0.003em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2412 {
	letter-spacing: 0.0481px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2413 {
	letter-spacing: -0.0006em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2413 {
	letter-spacing: -0.0097px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2414 {
	letter-spacing: -0.0004em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2414 {
	letter-spacing: -0.006px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2415 {
	letter-spacing: 0.0016em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2415 {
	letter-spacing: 0.0262px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2416 {
	letter-spacing: -0.0007em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2416 {
	letter-spacing: -0.0117px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2417 {
	letter-spacing: 0.0007em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2417 {
	letter-spacing: 0.0115px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2418 {
	letter-spacing: -0.0009em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2418 {
	letter-spacing: -0.0152px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2419 {
	letter-spacing: -0.0005em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2419 {
	letter-spacing: -0.0085px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2420 {
	letter-spacing: 0.0004em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2420 {
	letter-spacing: 0.0061px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2421 {
	letter-spacing: 0.0003em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2421 {
	letter-spacing: 0.0045px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2422 {
	letter-spacing: 0.0001em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2422 {
	letter-spacing: 0.0016px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2423 {
	letter-spacing: -0.0008em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2423 {
	letter-spacing: -0.0134px;
}
@font-face {
	font-family:"SQOJOJ+Times New Roman";
	src:url("http://localhost:9068/document-viewer/GetResourceForHtmlHandler?documentPath=mcqs.pdf&resourcePath=afe5cc36-0000-0000-0000-000000000000.woff&relativeToOriginal=false") format("woff");
}
.pg3htm1558CA65A936DC41935914D39E93EB2424 {
	font-size: 1em;
	font-family: "SQOJOJ+Times New Roman";
	color: #000000;
}
.pg3htm1558CA65A936DC41935914D39E93EB2425 {
	letter-spacing: -0.0011em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2425 {
	letter-spacing: -0.0174px;
}
.pg3htm1558CA65A936DC41935914D39E93EB2426 {
	letter-spacing: -0.0014em;
}

.ie .pg3htm1558CA65A936DC41935914D39E93EB2426 {
	letter-spacing: -0.0218px;
}
